@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Montserrat:wght@200;300;400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* universal styling */
:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-heading: hsla(0, 0%, 100%, 0.6);
  --font-size: 0.9374rem;
  --heading-font: 'Inter', sans-serif;
  --text-font: 'Lexend Deca', sans-serif;
}
/* universal styling */

body,
html {
  background-color: var(--main-background);
  overflow-x: hidden;
}
.parent_box {
  /* width: 100vw;
  height: 100vh; */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.child_box {
  /* width: 60vw;
  height: 43vh; */
  max-width: 48em;
  /* max-height: 50vh; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--white);
  background-color: var(--card-background);
  border-radius: 10px;
}
.l-content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  flex: 1 0 50%;
}
.l-content .heading {
  color: var(--white);
  font-family: var(--heading-font);
  margin-bottom: 2rem;
  font-weight: 700;
}
.l-content .heading span {
  color: var(--accent);
}
.l-content .desc {
  line-height: 1.5;
  color: var(--main-paragraph);
  font-family: var(--accent);
  font-family: var(--text-font);
  font-weight: 200;
  margin-bottom: 1rem;
}
.numbers {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.numbers h4 {
  color: var(--white);
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 1.2rem;
}
.numbers span {
  text-transform: capitalize;
  color: var(--stat-heading);
  font-family: var(--text-font);
  font-size: var(--font-size);
  font-weight: 200;
}
.r-content {
  /* position: relative; */
  background-color: var(--accent);
  object-fit: conver;
  overflow: hidden;
}

.r-content img {
  height: 100%;
  mix-blend-mode: multiply;
  opacity: 0.7;
  width: 100%;
  object-fit: cover;
}

/* footer */
.attribution {
  font-size: var(--text-font);
  color: var(--white);
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* footer */

/* responsive */
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .child_box {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    justify-content: center;
  }
  .l-content {
    text-align: center;
  }

  .numbers {
    width: 40vw;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .numbers span {
    text-transform: uppercase;
  }
  .numbers div {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .child_box {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    justify-content: center;
    max-width: 50vw;
  }
  .l-content {
    text-align: center;
  }

  .numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .numbers span {
    text-transform: uppercase;
  }
  .numbers div {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 590px) {
  .child_box {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    justify-content: center;
  }
  .l-content {
    text-align: center;
  }
  .l-content .heading {
    font-size: 1.4rem;
  }
  .l-content .desc {
    font-size: 0.89rem;
  }

  .numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .numbers span {
    text-transform: uppercase;
  }
  .numbers div {
    margin-bottom: 1rem;
  }
}
/* responsive */
