@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* universal */
:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --trans-white-paragraph: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
  --font-size: 0.9375rem;
}
/* universal */

body,
html {
  background-color: var(--very-light-gray);
}

.parent_box {
  min-height: 100vh;
  background-color: rebeccapurple;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child_box {
  width: 48em;
  min-height: 50vh;
  background-color: red;
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* footer */
